@font-face {
    font-family: 'PixelForce';
    src: url(fonts/PixelForce.ttf);
}
@font-face {
    font-family: 'digital';
    src: url(fonts/digital.ttf);
}
@font-face {
    font-family: 'brand';
    src: url(fonts/saiba-45.regular.ttf);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background: radial-gradient(hsl(0, 0%, 83%), gray);
    cursor: default;
}*::selection{
    background-color: transparent;
}
#header{
    font-family: 'PixelForce', monospace;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 5px;
}
#header > span{
    font-size: 1.5rem;
}
#adv{
    background-color: hsl(0, 0%, 25%);
    padding-bottom: .8rem;
    color: gray;
    font-family: 'brand', monospace;
    font-size: 2rem;
    text-align: left;
}
#calculator{
    display: flex;
    flex-direction: column;
    border: 15px solid hsl(0, 0%, 25%);
    border-radius: 1rem;
    min-width: 24rem;    
}
#display{    
    text-align: right;
    border: 2px solid hsl(0, 0%, 83%);
    border-radius: .5rem;
    margin: 0;
    padding-block: 1rem;
    padding-inline: 1rem;
    font-size: 2.8rem;
    font-family: 'digital', monospace;
    background-color: hsl(120, 10%, 60%);
}
#keyboard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .7rem;
    padding: .7rem;
    background-color: hsl(0, 0%, 25%);
    padding-top: 1.5rem;
}
button{
    font-family: Helvetica, sans-serif;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: .5rem;
    border: none;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: hsl(0, 0%, 83%);
    transform: scale(100%);
    transition: scale .5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    opacity: 75%;
}
button:active{
    transform: scale(95%);
}
.clearBtn{
    background-color:hsl(45, 100%, 60%);
}
.operationBtn, .sqrtBtn{
    background-color: hsl(195, 20%, 65%);
}
a{
    font-family: 'PixelForce', monospace;
    color: hsla(0, 0%, 0%, 0.7);
    font-size: .9rem;
    text-decoration: none;
    align-self: flex-end;
    padding-right: 10px;
    padding-bottom: 5px;
}