body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}
#calculator{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
#display{    
    text-align: right;
    border: none;
    margin: 0;
    padding: 0.5rem;
    font-size: 3rem;
}
#keyboard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .3rem;
    padding: .3rem;
    background-color: gray;
}
button{
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: .5rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
}