body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}
#calculator{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}
#display{    
    text-align: right;
    border: none;
    margin: 0;
    padding: 1rem;
    font-size: 3rem;
}